*{
    padding: 0;
    margin: 0;
}
body{
    overflow-y: hidden;
    transition: all 400ms ease-in-out;
    font-family: 'Open Sans', sans-serif;
    background-image: url("https://github.com/Diegoleal225/Diegoleal225/blob/main/calculadora-imc/assets/blue-energy.jpg?raw=true");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 150vh;

}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
.nav-viewport{
    display: flex;
    padding: 1%;
    justify-content: center;
    text-align: center;
    background-color:  rgba(28, 167, 247, 0.623);
    width: 98%;
    box-shadow: 0 0 4px black;
}
.title-h1{
    font-size: 250%;
    color:white;
    text-align: center;
    text-shadow:0 0 4px black ;
}
.container-align{
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.caixa-field{
    position: relative;
    width: 52vw;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.068);
    border-radius: 5%;
    border: 2px solid rgba(28, 166, 247, 0.774);
    box-shadow: 0 0  10px black;
}
.grid-main{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(141px,2fr));
    padding: 2%;
    gap: 6%; 
    justify-items: center;
    align-items: center;   
}
.label{
    color:white;
    text-shadow: 0 0 4px black;
    font-family: 'Montserrat', sans-serif;
    font-size: 80%;
    text-transform: uppercase;
}
.name-input,
.last-name-input,
.peso-input,
.altura-input,
.idade-input
{   
    padding: 1%;
    font-size: 110%;
    max-width: 19vw;
    min-height: 5vh;
    border-radius: 3%;
    color:white;
    background-color: rgba(28, 167, 247, 0.623) ;
    font-family: 'Montserrat', sans-serif;
    font-size: 80%;
    text-transform: uppercase;
    box-shadow: 0 0 2px black;
    border: 1px solid black;
}
.grid-result-container{
    text-shadow:0 0 4px black ;
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    text-transform: uppercase;
    border-radius: 10%;
    margin-top: 2%;
    box-shadow: 0 0 4px black;
    background-color: rgba(28, 167, 247, 0.623) ;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-column-start: 1;
    grid-column-end:4;
    width: 100%;
    height: 8vh;
}
.grid-button{
    display: flex;
    align-items: baseline;
    justify-content: center;
    grid-row-start: 4;
}

.grid-button-clear{
    display: flex;
    align-items: baseline;
    justify-content: center;
    grid-column-end: 4;
}


#button{
    color:white;
    background-color: rgba(28, 167, 247, 0.623) ;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    box-shadow: 0 0 2px black;
    border: 1px solid black;
    border-radius: 10%;
    font-size: 110%;
    min-width: 10vw;
    min-height: 7vh;
}
#button:hover{
    background-color: rgba(61, 141, 245, 0.384);
    transform: scale(1.05);
    color:rgb(4, 4, 109);
}
@media (max-width:1160px){
    .grid-main{
        grid-template-columns: repeat(auto-fill, minmax(135px,3fr));   
        padding: 3%;
        gap: 4%; 
    }
}
@media (max-width:1100px){
    .grid-main{
        grid-template-columns: repeat(auto-fill, minmax(120px,3fr));   
        padding: 3%;
        gap: 4%; 
    }
    .name-input,
    .last-name-input,
    .peso-input,
    .altura-input,
    .idade-input
    {   
        font-size: 110%;
        max-width: 18vw;
        min-height: 5vh;
        font-size: 70%;
    }
}

@media (max-width:960px) {
    .caixa-field{
        position: relative;
        min-width: 60vw;
        height: 50vh;
    }
    .name-input,
    .last-name-input,
    .peso-input,
    .altura-input,
    .idade-input
    {   
        font-size: 110%;
        max-width: 18vw;
        min-height: 5vh;
        font-size: 70%;
    }
}
@media (max-width:800px) {
    
    .title-h1{
        font-size: 200%;
    }
    
    .label{
        font-size: 68%;
    }
    .grid-main{
        grid-template-columns: repeat(auto-fill, minmax(100px,3fr)); 
    }
    .name-input,
    .last-name-input,
    .peso-input,
    .altura-input,
    .idade-input
    {   
        font-size: 70%;
        max-width: 15vw;
        min-height: 4vh;
    }
    .grid-result-container{
        max-width: 70vw;
        height: 6.5vh;
    }
    .p-text{
        font-size: 90%;
    }
    #button{
        font-size: 87%;
        min-width: 9vw;
        min-height: 4vh;
    }
   
}
@media (max-width:600px) {
    
    .title-h1{
        font-size: 150%;
    }
    .label{
        font-size: 58%;
    }
    .name-input,
    .last-name-input,
    .peso-input,
    .altura-input,
    .idade-input
    {   
        max-width: 14vw;
        min-height: 3vh;
        font-size: 50%;
    }

    .p-text{
        font-size: 75%;
    }
    #button{
        min-height: 3vh;
        font-size: 70%;

    } 
}
@media (max-width:540px) {
    .label{
        font-size: 50%;
    }
    #button{
        font-size: 62%;
    }
    .grid-main{
        grid-template-columns: repeat(auto-fill, minmax(80px,3fr)); 
    }
    .p-text{
        font-size: 65%;
    }
 
    .grid-result-container{
        max-width: 65vw;
    } 
}
@media (max-width:400px) {

    #button{
        font-size: 63%;
    }
    .grid-main{
        grid-template-columns: repeat(auto-fill, minmax(60px,3fr)); 
        padding: 1%;
        gap: 2%; 
    }
    
    .title-h1{
        font-size: 120%;
    }
    .label{
        font-size: 45%;
    }
    .name-input,
    .last-name-input,
    .peso-input,
    .altura-input,
    .idade-input
    {   
        max-width: 14vw;
        min-height: 2vh;
        font-size: 40%;
    }
    .grid-result-container{
        max-height: 5vh;
    }

    .p-text{
        font-size: 50%;
    }
}
@media (max-width:295px){
    .grid-main{
        grid-template-columns: repeat(auto-fill, minmax(37px,3fr)); 
        padding: 1%;
        gap: 2%; 
    }
}

