*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: all 400ms ease-in-out;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #026FFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(224,680,312)'%3E%3Cstop offset='0' stop-color='%23026FFF'/%3E%3Cstop offset='1' stop-color='%2350A2FF'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='1281' height='1067.5' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.24'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    height:auto;
  }
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
.title-logo{
    display: flex;
    text-transform: uppercase;
    font-size: 120%;
    flex-direction: row;
    text-align:justify;
    text-decoration: none;
    color: rgb(4, 4, 109);
    text-align: center;
    align-items: center;
    
    text-decoration: none;  
}
.menu-li{
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 120%;
    text-decoration: none;
    color: rgb(4, 4, 109);
}
.menu-li:hover{
    text-decoration:underline;
    text-decoration-color:rgb(4, 4, 109) ;
    
}
.menu-ul{
    background-color: white; 
    border: 2px solid white;  
    position: fixed;
}

.menu-container,
.menu-ul{
    z-index: 1;
    min-height: 4%;
    margin-left: -25%;   
    list-style: none;
    width: 100%; 
    display: flex;
    justify-content: space-evenly;
}

.container-aligner1{
    min-height: auto;
    margin: 0% 3% 0 3%  ;
}
.section-main{
   background-image: url("./lang-page/assets/img/Dragon-Ball-Super-Torneio-do-Poder-Arena.webp");
   width: 100%;
   height: 120vh;
   background-position: center;
   background-size: cover;
}
.main-container{
    color:white;
    margin-top: 0vh;
    display: grid;
    align-items: center;
    gap: 10px;
    grid-template-columns: repeat(auto-fill,minmax(500px,2fr));
    padding-top: 1%;
}
.title-principal{
    color: white;
    display: block;
    padding-top: 4%;
    font-size: 250%;
    text-align: center;    
}
.box-historia{
    font-size: 97.5%;
    background-color: rgba(0, 0, 0, 0.295);
    width: 45vw;
    height: 78vh;
    color: white; 
    grid-column-start: 1;
    box-shadow: 0 0 10px black;
    border:  2px solid rgba(0, 0, 0, 0.349);
    border-radius: 3%;
}
.box-historia:hover{
    transform: scale(1.05);
}
.box-images{
    background-image:url("./lang-page/assets/img/participantes.jpg");
    background-position: center;
    background-size: cover;
    width: 45vw;
    height: 78vh;
    box-shadow: 0 0 10px black;
    border:  2px solid rgba(0, 0, 0, 0.349);
    border-radius: 3%;
}

.box-images:hover{
    transform: scale(1.05);
}
.subtitle-main{
    font-size: 170%;
    text-align: center;
    text-shadow: 0 0 10px black;
}
.text-main1{
    margin: 1% 1% 1% 1%;
    font-size: 94%;
    text-align: justify;
}
.container-aligner2{
    min-height: 100vh;
    margin: 0% 5% 0 5%  ;
    padding-top: 8vh;
}
.section-transforme{
    background-color: rgba(255, 255, 255, 0.418);
    width: 100%;
    height: 100vh;   
}
.subtitle-main2{
    color:rgb(4, 4, 109);
    text-transform: uppercase;
    font-size: 350%;
    text-align: center;
}
.text-main2{
    color:rgb(4, 4, 109);
    font-size:250%;
    text-align: justify;
}
.section-galeria{
    background-image: url("./lang-page/assets/img/Dragon-Ball-Super-Torneio-do-Poder-Arena.webp");
    background-position: center;
    background-size: cover;
    width: 100% ;
    height: auto;
}
.container-aligner3{
    min-height: 100vh;
    margin: 0% 5% 0 5%  ;
    padding-top: 8vh;
}

.subtitle-galeria{
    color: white;
    font-size: 250%;
    text-transform: uppercase;
    text-align: left;
    text-shadow: 0 0 4px black;
}
.grid-galeria{
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,3fr));
    gap:25px;  
}

.title-imagens{
    color:white;
    text-shadow: 0 0 4px black;
    margin-left: 1vw;
}

.image1{
    background-image: url("./lang-page/assets/img/goku-instinto-superior.jpg");
    background-position: center;
    background-size: cover; 
    min-width: 28vw;
    min-height: 35vh;
    border: 2px solid rgba(0, 0, 0, 0.418);
    border-radius: 5%;
    box-shadow: 0 0 5px black;
    transition: all 300ms ease-in-out;
    margin-bottom: 2%;
}
.image1:hover{
    transform: translate(-3%, 3%) scale(1.2) rotate(1deg);
}
.image2{
    background-image: url("/lang-page/assets/img/jiren-base");
    background-position: center;
    background-size: cover;
    min-width: 28vw;
    min-height: 35vh;
    border: 2px solid rgba(0, 0, 0, 0.418);
    border-radius: 5%;
    box-shadow: 0 0 5px black;
    transition: all 300ms ease-in-out;
    margin-bottom: 2%;
}
.image2:hover{
    transform: translate(-3%, 3%) scale(1.2) rotate(1deg);
}
.image3{
    background-image: url("./lang-page/assets/img/Goku-jiren.jpg");
    background-position: center;
    background-size: cover;
    min-width: 28vw;
    min-height: 35vh;
    border: 2px solid rgba(0, 0, 0, 0.418);
    border-radius: 5%;
    box-shadow: 0 0 5px black;
    transition: all 300ms ease-in-out;
    margin-bottom: 2%;
}
.image3:hover{
    transform: translate(-3%, 3%) scale(1.2) rotate(1deg);
}
.image4{
    background-image: url("./lang-page/assets/img/jiren-goku-max.jpg");
    background-position: center;
    background-size: cover;
    min-width: 28vw;
    min-height: 35vh;
    border: 2px solid rgba(0, 0, 0, 0.418);
    border-radius: 5%;
    box-shadow: 0 0 5px black;
    transition: all 300ms ease-in-out;
    margin-bottom: 2%;
}
.image4:hover{
    transform: translate(-3%, 3%) scale(1.2) rotate(1deg);
}
.image5{
    background-image: url("./lang-page/assets/img/vegeta-transforme.webp");
    background-position: center;
    background-size: cover;
    min-width: 28vw;
    min-height: 35vh;
    border: 2px solid rgba(0, 0, 0, 0.418);
    border-radius: 5%;
    box-shadow: 0 0 5px black;
    transition: all 300ms ease-in-out;
    margin-bottom: 2%;
}
.image5:hover{
    transform: translate(-3%, 3%) scale(1.2) rotate(1deg);
}
.image6{
    background-image: url("./lang-page/assets/img/freeza+goku.png");
    background-position: center;
    background-size: cover;
    min-width: 28vw;
    min-height: 35vh;
    border: 2px solid rgba(0, 0, 0, 0.418);
    border-radius: 5%;
    box-shadow: 0 0 5px black;
    transition: all 300ms ease-in-out;
    margin-bottom: 2%;
}
.image6:hover{
    transform: translate(-3%, 3%) scale(1.2) rotate(1deg);
}
.section-personagens{
    background-color: rgba(255, 255, 255, 0.418);
    width: 100%;
    height: 115vh; 
}
.container-aligner4{
    min-height: 110vh;
    margin: 0% 5% 0 5%  ;
    padding-top: 8vh;
}
.subtitle-personagens{
    color:rgb(4, 4, 109);
    text-transform: uppercase;
    font-size: 250%;
    text-align: center;
    margin-bottom: 2%;   
}
.subtitle-personagens2{
    margin-left: 2vw;
    color: white;
    text-shadow: 0 0 6px black ;
}
.main-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px,2fr));
    gap:10px;
	transition: all 300ms ease-in-out;
}
.box-universo-vencedor{
    font-size: 130%;
    background-image: url("./lang-page/assets/img/Vencedores.jpg");
    background-size: cover;
    background-position: top;
    max-width: 40vw;
    min-height: 90vh;
    border: 2px solid rgba(0, 0, 0, 0.418);
    border-radius: 5%;
    box-shadow: 0 0 5px black;
    transition: all 300ms ease-in-out;
}

.box-universo-vencedor:hover{
    transform: translate(-3%, 3%) scale(1.1) rotate(2deg);
}
.box-todos-universos{
    font-size: 130%;
    background-image: url("./lang-page/assets/img/todos-participantes.jpg");
    background-size:cover;
    background-position:center;
    max-width: 48vw;
    min-height: 90vh;
    border: 2px solid rgba(0, 0, 0, 0.418);
    border-radius: 5%;
    box-shadow: 0 0 5px black;
    transition: all 300ms ease-in-out;
    grid-column-start: auto;

}
.box-todos-universos:hover{
    transform: translate(-3%, 3%) scale(1.05) rotate(2deg);
}

.contato{
    background-image: url("./lang-page/assets/img/Dragon-Ball-Super-Torneio-do-Poder-Arena.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 110vh;
    box-shadow: 0 0 5px black;
}
.container-aligner5{
    min-height: 100vh;
    margin: 0% 5% 0 5%  ;
    padding-top: 8vh;
}
.titulo-contato{
    color:white;
    text-transform: uppercase;
    font-size: 250%;
    margin-bottom: 1%;
}
.form-caixa{
    background-color: rgba(255, 255, 255, 0.068);
    display: grid;
    border: none;
    border-radius: 10%;
    padding: 3vh 5% 0% 5%;
    min-width: 80vw;
    min-height: 60vh;
    grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
    gap:30px;
}
.label-first-name{
    font-size: 130%;
    color: white;
}
.input-first-name{
    font-size: 150%;
    width: 25vw;
    height: 7vh;
    box-shadow: 0 0 10px black;
    border-radius: 5%;
}
.label-last-name{
    font-size: 130%;
    color: white;
}
.input-last-name{
    font-size: 150%;
    min-width: 25vw;
    min-height: 7vh;
    box-shadow: 0 0 10px black;
    border-radius: 5%;
}
.label-email{
    font-size: 130%;
    color: white;
}
.email{
    font-size: 150%;
    min-width: 25vw;
    min-height: 7vh;
    box-shadow: 0 0 10px black;
    border-radius: 5%;
}
.label-text-area{
    font-size: 130%;
    color: white;
    margin-bottom: 1%;
}
.text-area{
    font-size: 150%;
    min-width: 80vw;
    min-height: 42vh;
    box-shadow: 0 0 10px black;
    border-radius: 5%;
}
.grid-button{
    grid-column-start: 1;
    grid-column-end: 3;  
}
.butao{
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    margin-bottom: 3%;
    font-size:200%;
    background-color: rgba(255, 255, 255, 0);
    max-width: auto;
    min-height: 8vh;
    border: 2px solid white;
    border-radius: 12%;
}
.butao:hover{
    background-color: white;
    color:rgb(4, 4, 109);
}
.footer{
    background-color:  rgba(255, 255, 255, 0.603);

}
.p-footer{
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color:black;
    font-size: 120%;
}
@media (max-width:1190px){
    .title-logo{
        font-size: 110%;
        margin-right: 5vw; 
    }
    .menu-li{
        font-size: 110%;
    }
    .form-caixa{
        min-width: 70vw;
        min-height: 70vh;
        grid-template-columns: repeat(auto-fill, minmax(250px, 3fr));
    }
    .input-first-name{
        font-size: 130%;
        min-width: 23vw;
        min-height: 5vh;
    }
    .input-last-name{
        font-size: 130%;
        min-width: 23vw;
        min-height: 5vh;
    }
    .email{
        font-size: 130%;
        min-width: 23vw;
        min-height: 5vh;
    }    
    .text-area{
        font-size: 130%;
        min-width: 79vw;
        min-height: 38vh;
    }
    .butao{
        font-size: 150%;
    }
}

@media(max-width:1120px){
    .main-container{
        padding-left: 2%;
        gap: 10px;
        grid-template-columns: repeat(auto-fill,minmax(500px,2fr));
        padding-top: 1%;
    }
    .title-principal{
        padding-top: 4%;
        font-size: 250%;   
    }
    .box-historia{
        font-size:100%;
        width: 90vw;
        height: 50vh;
    }
    .box-images{
        width: 90vw;
        height: 50vh;
        grid-row-start:2 ;
    }
    .main-grid{
        grid-template-columns: repeat(auto-fill, minmax(600px,2fr));
        gap:10px;
      
    }
    .box-universo-vencedor{
        max-width: 100%;
        min-height: 90vh;
        border: 2px solid rgba(0, 0, 0, 0.418);
        border-radius: 5%;
        box-shadow: 0 0 5px black;
        transition: all 300ms ease-in-out;
    }
    
    .box-todos-universos{
        max-width: 100%;
        min-height: 90vh;
        border: 2px solid rgba(0, 0, 0, 0.418);
        grid-column-start: auto;
        margin-bottom: 2%;
    }
    .form-caixa{
        min-width: auto;
        min-height: 60vh;
        grid-template-columns: repeat(auto-fill, minmax(250px, 3fr));
        gap:30px;
    }
    .input-first-name{
        font-size: 130%;
        max-width:20vw;
        max-height: 5vh;
    }
    .input-last-name{
        font-size: 130%;
        max-width: 20vw;
        max-height: 5vh;
    }
    .email{
        font-size: 130%;
        max-width: 20vw;
        max-height: 5vh;
    }    
    .text-area{
        font-size: 130%;
        max-width: 79vw;
        max-height: 38vh;
    }
    .footer{
        font-size: 100%;
    }
}
@media (max-width:1000px){
    .title-logo{
        font-size: 90%;
    }
    .menu-li{
        font-size: 90%;
    }
    .title-principal{
        padding-top: 4%;
        font-size: 170%;  
    }
    .subtitle-main{
        font-size: 120%;
    }
 
    .box-historia{
        font-size:80%;
        width: 90vw;
        height: 46vh;  
    }
    .box-images{
        width: 90vw;
        height: 46vh;
        grid-row-start:2 ;
    }
  
    .subtitle-main2{
        font-size: 170%;  
    }
    .text-main2{
        font-size:140%;
    }
    .main-grid{
        grid-template-columns: repeat(auto-fill, minmax(300px,2fr));
    }
    .box-universo-vencedor{ 
        font-size: 130%;
        max-width: 100%;
        min-height: 50vh;
    }
    
    .box-todos-universos{
        font-size: 130%;
        max-width: 100%;
        min-height: 50vh;
        grid-column-start: 2;
    
    }
    .titulo-contato{
        font-size: 180%;
        margin-bottom: 1%;
    }
    .form-caixa{
        min-width: 60vw;
        min-height: 60vh;
        grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
        gap:15px;
    }
    .input-first-name{
        font-size: 120%;
        max-width:20vw;
        max-height: 5vh;
    }
    .input-last-name{
        font-size: 120%;
        max-width: 15vw;
        max-height: 5vh;
    }
    .email{
        font-size: 120%;
        max-width: 15vw;
        max-height: 5vh;
    }    
    .text-area{
        font-size: 120%;
        max-width: 70vw;
        max-height: 38vh;
    }
    label{
        font-size: 80%;
    }
    .butao{
        margin-bottom: 3%;
        font-size:110%;
        min-height: 7vh;  
    }
}
@media (max-width:780px){
    .title-logo{
        font-size: 75%;
        margin-right: 5vw; 
    }
    .menu-li{
        font-size: 75%;
    }
    .title-principal{
        padding-top: 4%;
        font-size: 140%;  
    }
    .subtitle-main{
        font-size: 120%;
    }
    .box-historia{
        font-size:75%;
        width: 90vw;
        height: 46vh;  
    }
    .box-images{
        width: 90vw;
        height: 46vh;
        grid-row-start:2 ;
    }
    .title-principal{
        margin-top: 4%;
        font-size: 120%;
    }
    .text-main1{
        font-size: 80%;
    }
    .subtitle-main2{
        font-size: 120%;
    }
    .text-main2{
        font-size: 90%;
    }
    .subtitle-galeria{
        font-size: 120%;
    }
    .title-imagens{
        font-size: 90%;
    }
    .subtitle-personagens{
        font-size: 120%;
    }
    .subtitle-personagens2{
        font-size: 80%;
    }
    .main-grid{
        grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    }
    .box-universo-vencedor{ 
        font-size: 130%;
        max-width: 100%;
        min-height: 50vh;
    }
    
    .box-todos-universos{
        font-size: 130%;
        max-width: 100%;
        min-height: 50vh;
        grid-column-start: 2;
    
    }    
    .titulo-contato{
        font-size: 120%;
    }
    .form-caixa{
        max-width: 80vw;
        max-height: 80vh;
        grid-template-columns: repeat(auto-fill, minmax(120px, 2fr));
        gap:15px;
    }
    .input-first-name{
        font-size: 100%;
        max-width:20vw;
        max-height: 4vh;
        grid-column-end:1 ;
    }
    .input-last-name{
        font-size: 100%;
        max-width: 15vw;
        max-height: 4vh;
        grid-column-end:1 ;
    }
    .email{
        font-size: 100%;
        max-width: 15vw;
        max-height: 4vh;
        grid-column-end:1 ;
    }    
    .text-area{
        font-size: 100%;
        max-width: 50vw;
        max-height: 38vh;
        grid-column-start:2 ;
    }
    label{
        font-size: 60%;
    }
    .butao{
        margin-bottom: 3%;
        font-size:75%;
        max-width: 10vw;
        min-height: 6vh;  
    }
    .footer{
        font-size: 70%;
    }
}
@media (max-width:565px){
    .title-principal{
        padding-top: 4%;
        padding-bottom: 1%;
        font-size: 110%;  
    }
    .box-historia{
        font-size:65%;
        width: 90vw;
        height: 46vh;  
    }
    .section-personagens{
        background-color: rgba(255, 255, 255, 0.418);
        width: 100%;
        height: 100vh; 
    }
    .main-grid{
        grid-template-columns: repeat(auto-fill, minmax(140px,1fr));
    }
    .subtitle-personagens2{
        font-size: 60%;
    }
    .box-universo-vencedor{
        background-position: center;
        font-size: 130%;
        max-width: 100%;
        min-height: 45vh;
    }
    
    .box-todos-universos{
        background-position: center;
        font-size: 130%;
        max-width: 100%;
        min-height: 45vh;
        grid-column-start: 2;
    
    }
    .titulo-contato{
        font-size: 80%;
    }
    .form-caixa{   
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));   
    }
    .input-first-name{
        font-size: 70%;
        max-width:17vw;
    }
    .input-last-name{
        font-size: 70%;
        max-width: 13vw;
    }
    .email{
        font-size: 70%;
        max-width: 13vw;
    }    
    .text-area{
        font-size: 100%;
        max-width: 50vw;
    }

    label{
        font-size: 45%;
    }
    .butao{
        font-size:55%;
        min-height: 7vh;  
    }
    .footer{
        font-size: 60%;
    }
}

@media (max-width:370px){
    .title-logo{
        font-size: 65%;
    }
    .menu-li{
        font-size: 65%;
    }
    .title-principal{
        padding-top: 5%;
        padding-bottom: 1%;
        font-size: 95%;  
    }
    .box-historia{
        font-size:60%;  
    }
    .form-caixa{   
        grid-template-columns: repeat(auto-fill, minmax(65px, 1fr));   
    }
    .input-first-name{
        font-size: 50%;
        max-width:15vw;
        min-height: 1vh;
    }
    .input-last-name{
        font-size: 50%;
        max-width: 10vw;
        min-height: 3vh;
    }
    .email{
        font-size: 50%;
        max-width: 10vw;
        min-height: 3vh;
    }    
    .text-area{
        font-size: 80%;
        max-width: 50vw;
    }

    label{
        font-size: 40%;
    }
    .butao{
        font-size:48%;
        min-height: 6vh;  
    }
    .footer{
        font-size: 50%;
    }
}
